body {
  overflow: hidden;
  width:100vw;
  height: 100vh;
  background-color: rgba(118, 151, 160, 0.3);
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items:center;
  font-family: 'KoHo', sans-serif;
}

.container {
  width:100%;
  height: 100%;
  background-color: rgba(74, 112, 122, 0.2);
  padding:20px 20px 0px;
  box-shadow: 0 4px 6px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
}

.navbar {
  max-height: 10%;
  min-height: 40px;
  width:80%;
  color: #ddddda;
  background-color: #4a707a;
  text-align: center;
  padding:15px 30px;
  font-variant: small-caps;
  font-size: 2rem;
  border-radius:5px;
}

.images {
  display:flex;
  flex-direction:column;
  justify-content: space-around;
  padding: 10px;
  margin: 30px;
}

.images img {
  height: 80px;
  width: 80px;
}

.sheep {
  transform: rotate(-20deg); /*tilts sheep - prepares for jump*/
}

.animateJump {  transform-origin: bottom center;
  animation: jump 3s ease-in-out infinite;}
 
    @keyframes jump {
  0% {
    transform: rotate(-30deg);
    opacity:0.05;
  }

  5% {
    opacity:0.2;
  }

  10% {
    opacity:0.3;
  }

  20% {
    opacity:0.5;
  }

  40% {
    opacity:0.7;
  }

  50% {
    opacity:0.8;
  }

  60% {
    opacity:0.7;
  }

  70% {
    opacity:0.5;
  }

  80% {
    opacity:0.3;
  }

  95% {
    opacity:0.03;
  }

  100% {
    transform: rotate(40deg) translateX(60px);
    opacity:0;
  }
}

.fence {
  margin-top: 15px;
  transform: skewY(-20deg);
}

.counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.counter h1 {
  color: rgba(255,255,255,0.8);
  font-size: 4rem;
  padding: 50px 20px;
}

.countTracker {
  display:flex;
  align-items:center;
}

.buttonWrapper {
  display:flex;
  justify-content:space-evenly;
  align-items:center;
}

.buttonWrapper button {
  padding: 1em;
  background-color: #4a707a;
  color: #ddddda;
  border: none;
  margin:10px 10px;
  transition: all 1s ease;
  outline: none;
  font-size: 1rem;
  border-radius:5px;
  font-family: 'KoHo', sans-serif;
}

.buttonWrapper button:hover {
  background-color: #93b0b7;
  box-shadow: 1px 2px 2px #4a707a;
}
